<ul class="nav nav-tabs">
  {{#link-to 'dashboard' 'all' tagName='li'}}
    <a href='#'>All</a>
  {{/link-to}}

  {{#link-to 'dashboard' 'server' tagName='li'}}
    <a href='#'>Server</a>
  {{/link-to}}

  {{#link-to 'dashboard' 'clients' tagName='li'}}
    <a href='#'>Clients</a>
  {{/link-to}}

  {{#link-to 'dashboard' 'memory' tagName='li'}}
    <a href='#'>Memory</a>
  {{/link-to}}

  {{#link-to 'dashboard' 'persistence' tagName='li'}}
    <a href='#'>Persistence</a>
  {{/link-to}}

  {{#link-to 'dashboard' 'stats' tagName='li'}}
    <a href='#'>Stats</a>
  {{/link-to}}

  {{#link-to 'dashboard' 'replication' tagName='li'}}
    <a href='#'>Replication</a>
  {{/link-to}}

  {{#link-to 'dashboard' 'cpu' tagName='li'}}
    <a href='#'>Cpu</a>
  {{/link-to}}

  {{#link-to 'dashboard' 'keyspace' tagName='li'}}
    <a href='#'>Keyspace</a>
  {{/link-to}}
</ul>
